
main{
 margin: 0px;
 padding: 0px;
 font-family: 'Courier New', Courier, monospace;
}

/* Set the header background image to a linear gradient */
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url();
    background-repeat: no-repeat;
    /* Set the header height to 100% of the viewport height */
    height: 100vh;
  
    /* Set the background size to cover the entire header */
    background-size: cover;
  
    /* Center the background image */
    background-position: center;
  
    /* Set the minimum height of the header to 100px */
    min-height: 100px;

  }

  ul.x {
    float: right;
    display: flex;
    padding: 1px;

    min-height: 400px;
    font-size: 17px;
    list-style-type: none;
}

/* This is for the header section */

ul li a {
    text-decoration: none;
    color: #020000;
    padding: 5px 20px;
    transition: 0.5s ease;
}

ul li a:hover {
    color: rgb(135, 97, 240); /* Change to the desired color */
    border: 1px solid white; /* Add a border around the link */
    padding: 4px 19px; /* Adjust padding to account for the border */
    background-color: rgb(241, 241, 241); /* Add a background color */
}



